<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>홈</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-center py-5">
        <h1 class="display-4">CMC 게시판에 오신 것을 환영합니다</h1>
        <p class="lead">자유롭게 게시글을 작성하고 공유해보세요.</p>
    </div>

    <div class="mt-0">
        <div th:replace="~{board/fragments/latest-posts :: latest-posts}"></div>
    </div>
</div>

<th:block layout:fragment="script">
    <th:block th:replace="~{board/fragments/latest-posts :: latest-posts-script}"></th:block>
</th:block>
</body>
</html>